doctype html
html
    head
        title FTCG
        style.
            td {border: 1px solid black;}
    body
        h1 tere
        #map
        #buttons
        #players
        #active
        #roll
    script(src="/socket.io/lib/socket.io.js")
    script(src="/js/timmu/game.js")
    script(src='/js/timmu/socket.js')