extends layout

block content
  #main-container.clear
    #right
      canvas(id="canvas", width="800px", height="800px")
    #left
      #menu
        #inventory
        #dice
          button(id="rollDice") Roll
          canvas(id="diceCanvas", width="200px", height="200px")
        #startGame
          button(id="startGame") Start Game