doctype html
html
    head
        title Map Createor
        style.
            canvas { border: 1px solid black; }
            canvas:hover { cursor: pointer; }
            #conf { width: 400px; height: 200px; }
    body
        canvas(id="map",height="800px",width="800px")
        br
        textarea#conf
        button#save Save
        button#reset Reset
        br
        span Delete mode
        input(type="checkbox", id="delete")
    script(src="/js/map.js")