body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#right {
    float: left;
}

#left {
    margin-left: 40px;
    float: left;
    width: 200px;
}

#dice {
    width: 300px;
    height: 200px;
}

.clear {
    clear: both;
}

#rollDice {
    height: inherit;
    width: 100px;
    float: left;
}


